<form class="login-form">
    <p class="login-text">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-lock fa-stack-1x"></i>
      </span>
    </p>
    <input [(ngModel)]="usuario.username" type="text" class="form-control" name="username" id="username" placeholder="Username" autofocus required>
    <input [(ngModel)]="usuario.password" type="password" class="form-control" name="password" id="password" placeholder="Password" required>
      <div> 
        <input (click)='login()' type="submit" class="btn btn-lg btn-primary btn-block" value="Login">
        </div>

  </form>

  <div class="underlay-photo"></div>
  <div class="underlay-black"></div> 
